################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/SGNB_2/FileContentIndex/3724e079-6ab7-46d4-bda5-ea047ba6bc92.vsidx
*.vsidx
